<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

  <title> TFSports Catalog</title>
  <div class ="header">
      <div id="title">
        <h1>The Top Flight Sports Catalog</h1>
      </div>
      <br>
      <br>
    <div class="siteLinks">
      <ul>
        <li class="nav"><a href='{{url_for('sportsHome')}}'> HOME </a></li>
        <li class="nav"><a href='{{url_for('sportsHome')}}'> BACK </a></li>
        <li class="nav"><a href='{{url_for('loginPage')}}'> LOGIN </a></li>
        <li class="nav"><a href='{{url_for('disconnect')}}'> LOGOUT </a></li>
      </ul>
    </div>
  </div>
<hr>
</head>
<body>
<div class="page">
    <div class="flash">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
              <li id="message"><strong> {{ message }} </strong></li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
    </div>
    <br>
    <div class="allSports">
      <ul>
        <li class="sportList"><a href='{{url_for('sportPlayer', sportID=items[0].sportID)}}'>{{ items[0].sport }}</a></li>
        <li class="sportList"><a href='{{url_for('sportPlayer', sportID=items[1].sportID)}}'>{{ items[1].sport }}</a></li>
        <li class="sportList"><a href='{{url_for('sportPlayer', sportID=items[2].sportID)}}'>{{ items[2].sport }}</a></li>
        <li class="sportList"><a href='{{url_for('sportPlayer', sportID=items[3].sportID)}}'>{{ items[3].sport }}</a></li>
        <li class="sportList"><a href='{{url_for('sportPlayer', sportID=items[4].sportID)}}'>{{ items[4].sport }}</a></li>
      </ul>
    </div>
</div>
</body>

</html>
